<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.langostino.planificador"
    android:versionCode="2"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.VIBRATE" /> <!-- MAKE ALARMS RESTART ON REBOOT -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Planificador">
        <activity android:name=".NuevoA2Activity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"/>
        <activity android:name=".PrincipalActivity"
            android:exported="false"
           />
        <activity
            android:name=".EditarAActivity"
            android:exported="false"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".VerAActivity"
            android:exported="false"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".NuevoAActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".ActividadesActivity"
            android:exported="false">
        </activity> <!-- HORARIO -->
        <activity
            android:name=".HorarioRActivity"
            android:exported="false"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".VerHActivity"
            android:exported="false"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".NuevoHActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".HorarioActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".EditarHActivity"
            android:exported="false"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity> <!-- PLANIFICADOR -->
        <activity
            android:name=".PlanificadorActivity"
            android:exported="false">

        </activity>
        <activity
            android:name=".NuevoActivity"
            android:exported="false"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerActivity"
            android:exported="false"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
        <activity
            android:name=".EditarActivity"
            android:exported="false"
            android:parentActivityName=".PrincipalActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".PrincipalActivity" />
        </activity>
    </application>

</manifest>